@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.merriweather {
    font-family: "Merriweather", serif;
    /* font-weight: 900; */
    font-style: normal;
  }

  .inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;
  }
  
  .main-section{
    max-width: 1320px;
    margin: 0 auto;
  }

  /* header styel */
  .header{
    min-height: 600px;
    /* background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/images/Banner-Image.png"); */
    background: linear-gradient(180.00deg, rgb(7,2,17), rgba(7, 2, 17, 0)100%), url('images/Banner-Image.png');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 120px;
  }
   
  .header p {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .header h1 {
    font-size: 72px;
    width: 632px;
    font-weight: 900;
    margin: 0 auto;
  }

  /* 65% off section */
  .off-section{
    text-align: center;
    margin-bottom: 120px;
  }
 .off-section h1 {
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 48px;
 }
 .off-section p {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
 }
 .off-section h4 {
    color: #070211;
    font-weight: 700;
    font-size: 48px;
    margin-top: 16px;
 }

/*  welcome party section */
 .party-container{
  background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('images/Vectorrr.png');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin-bottom: 120px;
 }

 .welcome-title{
  font-size: 64px;
  font-weight: 900;
  color: #FFFFFF;
 }
 .welcome-des{
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
 }
 .btn-join{
  color: #FFFFFF;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
 }